:root{
    --base:#9191b9;
    --spacing: 10px;
    --blur: 10px;
}

img{
    padding: var(--spacing);
    background: var(--base);
    filter:blur(var(--blur));
}
body{
    background-color: rgb(225, 225, 216);
    text-align: center;
}

